@font-face {
    font-family: Averta;
    src: url("../font/Averta.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Averta, sans-serif;
    color: #514949;
}


.main-content {
    padding-bottom: 10em;
}


.hero{
    padding: 2em 0 ;
    padding-bottom: 3em;
    background: url(./imgs/bg-swirls.svg) no-repeat;
    background-position: center center;
    background-size: cover;
}
.hero header .logo {
    margin: 5.5em auto;
    /* margin-top: 6em; */
    text-align: center;
}
.hero h2 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 20px;
    padding-top: .5em;
    /* line-height: 34px; */
}
.hero p {
    padding: .5rem;
    padding-top: 1rem;
    padding-bottom: 5rem;
    line-height: 1.5rem;
    text-align: center;
}


.links ul {
    list-style: none;
    text-align: center;
}
li {
    margin: 15px auto;
}
a {
    color: #E7332B;
    text-decoration: none;
}


.ctas {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ctas button, button {
    padding: 15px 28px;
    margin: 10px;
    border: 1px solid #E7332B;
    background: #E7332B;
    color: #fff;
    font-size: 1em;
    line-height: 1rem;
}
.btn-2 button {
    background: #fff;
    color: #E7332B;
}


.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;
    padding-top: 1rem;
}
.section-1 h3 {
    font-size: .9rem;
    color: #E7332B;
    font-weight: 200;
}
.section-1 p {
    font-size: 24px;
    text-align: center;
    margin: 1rem auto;
    line-height: 2.4rem;
}


.zuri-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    line-height: 1.5rem;
    margin-bottom: 15rem;
}
.service {
    background: #FFFAFA;
    width: 85%;
    height: auto;
    border: 1px solid #FFFAFA;
    margin: 1.5rem;
    padding: 5rem 43px;
}
.service img {
    padding-bottom: 3rem;
}
.service p {
    padding-bottom: 1.5rem;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .footer-logo {
    padding-bottom: 1.5em;
}
footer .foot {
    padding-bottom: 1.5rem;
}
footer .logo {
    width: 9rem;
}
footer h3 {
    font-size: 24px;
}
footer .contact, .follow {
    text-align: center;
}
footer .contact p {
    padding: 12px 5rem;
    font-size: 14px;
}
footer .follow .socials {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}
footer .follow .socials img{
    width: 18px;
}
.copyright, .underline {
    text-align: center;
}
.underline {
    width: 90%;
    margin: 2rem auto;
    border: 1px solid #5149492f;
    margin-top: 4rem;
}

.copyright {
    font-weight: bold;
}


/* ########### MEDIA QUERIES */

@media screen and (min-width: 768px) {
    .hero {
        height: 800px;
    }
    .hero header .logo {
        margin: 2.5em auto 5em auto;
    }
    .hero h2 {
        font-size: 2em;
        padding-top: 0;
    }
    .hero p {
        padding: 1rem;
        margin: 0 auto;
        width: 700px;
    }
    
    .ctas {
        flex-direction: row;
        justify-content: center;
        margin: 4rem auto;
    }

    .section-1 {
        margin-top: 8rem;
    }
    .section-1 p {
        width: 488px;
        padding: 0 3rem;
    }

    .zuri-services {
        flex-direction: row;
    }

    footer {
        flex-direction: row;
        margin: 0 2rem;
        justify-content: space-between;
    }
    footer .logo {
        width: initial;
        margin-right: 10rem;
    }
    footer .contact, .follow, .socials, .contact p, ul {
        text-align: left;
    }
    footer .contact, .follow, .links {
        margin: auto 5rem;
    }

    footer .contact p {
        padding: 12px 0rem;
        width: 13rem;
    }
    footer .footer-logo {
        padding-bottom: 6.5em;
        padding-left: 3rem;
    }
    footer h3 {
        font-size: 18px;
    }
    footer .follow .socials img {
        margin: 0 5px;
    }
}